*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
                        "top"
                         "H"
                         "N"
                         "Q"
                         "E"
                         "F"
                         "foot";
}

img{
	max-width: 100%;
}

a{
    text-decoration: none;
}

a:hover{
    color: #252525;
}

li{
    list-style: none;
}

h2{
    text-align: center;
	color: #148a8c;
    font-weight: bold;
    font-size: 5ch;
    font-family: fantasy;
}

#top{
    grid-area: top;
    background-color: #252525;  
}

.topLinks{
    background-color: #148a8c;
    position: relative;
    font-weight: bold;
    left: 20%;
    top: 15%;
}

.topLinks ul{
    display: flex; 
    flex-direction: flex-end; 
}
/*#welcome{
    font-weight: bold;
    color:blue;
    margin-left: 10px;
    clear:both;
}
.underline::after {
    width: 100%;
    height: 5px;
    background-color: #2aacff;
    content: "";
    position: absolute;
    display: block;
}
*/
.topLinks ul,a{
    list-style-type: none;
    padding: 14px;
    /*transform: skew(25deg);*/
    color: white;
    font-weight: bold;
}

.topLinks a{
    text-decoration: none;  
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 15px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
 #login2
 {
     float:left;

 }




#head{   
    grid-area: H;  
}

#heading{
    display: flex;  
}

#heading img{  
    margin: 10px;
}

#heading h1{
    font-size: 2em;
    margin: 5px;
    margin-top: 10px;
}

#nav{
    grid-area: N;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
}

#menu {
    background-color: #148a8c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
#nav{
    position: relative;
    display: inline-block;
  }
  
#contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
#contents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
#contents a:hover 
{
    background-color: #252525;
    color: white;
}
  
#nav:hover #contents {
    display: block;
  }
  
#nav:hover #menu {
    background-color: #3e8e41;
  }



#moreSidenav ul{
    display: flex;
    background-color: black;
    border: 1px solid white;
    flex-wrap: wrap;
}

#moreSidenav a:hover{
    color: #148a8c;
}
  
#login{
    display: none;
}

#f{
    margin-right:auto;
}

#facultyDescription{
    grid-area: Q;
    font-weight:bolder;
    background-image: url("../photos/45.jpg");
    color: white;
    text-align:center;
    display: flex;
    height: 40vw;
    font-size: 1.5vh;
    padding: 2em;
}
/*#inertfacultybutton{
    float:right;
    background-color: ;
    margin-top: 70%;
}*/
#inertfacultybutton{
    background-color: #148a8c; 
    border: none;
    display:flex;
    justify-content: end;
    height:50px;
    color:black;
    padding:4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30%;
    margin-bottom: 1px;
    margin-right: 0px;
    width:300px;
    cursor: pointer;
    position: relative;
    top: -50%;
  }
  #inertfacultybutton:hover{
      background-color: white;
      text-shadow:#148a8c ;
  }
  


#q{
    margin:auto;
	text-align: justify;
	padding: 10px;
}

#exec,#icon1,#icon2{
    grid-area: E;   
}


#faculty{
    grid-area: F;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
            "fh"    
            "f2"
            "f3"
            "f4"
            "f5"
            "f6"
            "f7"
            "f8"
            "f9"
            "f10"
            "f11";
}

#facultyHead{
    grid-area: fh;
}

#f2{
    grid-area: f2;
}

#f3{
    grid-area: f3;
}

#f4{
    grid-area: f4;
}

#f5{
    grid-area: f5;
}

#f6{
    grid-area: f6;
}

#f7{
    grid-area: f7;
}

#f8{
    grid-area: f8;
}

#f9{
    grid-area: f9;
}

#f10{
    grid-area: f10;
}

#f11{
    grid-area: f11;
}

.f{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin: 24px;
    box-shadow: 0.1em 0.5em 0.5em 0.1em #148a8c;
 
}
.f:hover{
    /*background-color: lightgreen;*/
    background: lightblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}
.f ul,.f{
    color: black;
    padding: 10px;
}

.icon1,.icon2{
	position: relative;
    left: 30%;
}
img [title="Edit Faculty Information"]{
    color:blue;
    font-weight: bold;
}

#footer{
    grid-area: foot;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "L"
                         "P"
                         "A"
                         "C";
    border-radius: 1em;
}

#links{
    grid-area: L;
}

#programs{
    grid-area: P;
}

#address{
    grid-area: A;
    padding-left: 1em;
}
#copyright{
    grid-area: C;
    background-color: #252525;
    padding-left: 1em;
    
}

#footer{
    background-color:#148a8c;
    color: white; 
    font-family: "montserratregular";
}

#footer ul a{
    color: white;
}

#footer ul a:hover{
    color: #252525;
}


#footer h3{
    padding-bottom: 1em;
    padding-left: 2em;
}

#footer li a{
    list-style-type: symbols('>');
}
#footer ul{
    padding-bottom: 4em;
    padding-left: 2em;
}
#footer li{
    list-style-type: square;
}







  @media screen and (min-width: 400px)
  {
    #faculty{
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                "fh fh"
                "f2 f2"
                "f3 f3"
                "f4 f4"
                "f5 f5"
                "f6 f6"
                "f7 f7"
                "f8 f8"
                "f9 f9"
                "f10 f10"
                "f11 f11";
    }
#inertfacultybutton{
    margin-top:15%;
}

    #login
    {
        display: none;
    }

    
  }


  @media screen and (min-width: 600px)
  {
    #faculty{
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                "fh fh"
                "f2 f3"
                "f4 f5"
                "f6 f7"
                "f8 f9"
                "f10 f11";
    }
    #facultyDescription{
        height: 25vw;
        font-size: 2vmax;
    }
    #menu{
        display: none;
    }
    #contents{
        list-style: none;
        display: flex;
        justify-content: space-around;

    }
    #contents a{
        display: relative;
    }

    #contents{
        background-color: #148a8c;
        flex-direction: row-reverse;
         
    }
    #nav a{
        color: black;
        text-transform: uppercase;
    }

    #nav:hover #contents {
        display: none;
      }
      
    /*#nav a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-weight: bold;
    }*/
    #footer{
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A L P"
                             "C C C";
    }
    
  }


  @media screen and (min-width: 800px)
  {
      #top, .topLinks{
          display: none;
      }
      #head{
          display: grid;
          grid-auto-rows: auto;
          grid-template-columns: 1fr 1.5fr;
          grid-template-areas: "HH SN";

      }
      #heading{
          grid-area:HH;
          width: 20em;
          
      }
      #heading h1{
          font-size: 1.1em;
      }
      .sidenav{
          grid-area: SN;
      }
      #moreSidenav ul{
          display: flex;
          justify-content: space-evenly;
          background-color: #252525;
          color: white;
      }
      #moreSidenav a{
          color: white;
      }
      #nav{
		 
          background-color: transparent;
          flex-direction: row-reverse;   
      }
      #nav a{
          color: black;
          text-transform: uppercase;
      }
	
          #contents a:hover 
			{
				background-color: #252525;
                color: white;
                cursor:pointer;
			}
			  
			#nav:hover #contents {
				display: none;
			  }
			  
			#nav #contents {
				
				margin-left:90px;
				margin-bottom:90%;
			  }
			  
			#nav:hover #menu {
				background-color: #3e8e41;
              }
              #exec{
                display: grid;
                grid-auto-rows: auto;
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-areas: "H H H"
                                     ". E .";
            }
            #exec h2{
                grid-area: H;
            }
            #hod{
                grid-area: E;
            }
            
            a:hover
            {
                cursor:pointer;
            }
            #login{
                display: inline;

            }
      }
   


  
  @media screen and (min-width: 1200px)
  {
    #faculty{
      
      
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
                "fh fh fh"
                "f2 f3 f4"
                "f5 f6 f7"
                "f8 f9 f10"
                "f11 .  .";
    }
    #inertfacultybutton{
        margin-top:18%;
    }
    #exec{
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "H H H"
                             ". E .";
    }
  }


