@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.wrapper{
	display: grid;
	grid-auto-rows: auto;	
	grid-template-columns:auto;
	grid-template-areas: 
						"H"
						"intro"
						"op"
						"de"
						"F";
}
li{
list-style-type: none;
}

a{
text-decoration: none;

}

.btn {
	background-color: RoyalBlue; /* Blue background */
	border: none; /* Remove borders */
	color: rgb(255, 255, 255); /* White text */
	padding: 12px 16px; /* Some padding */
	 /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	position: absolute;
	top:8%;
	left:45%;
	z-index:1;
	width: 35px;
	height: 35px;
	font-size: 14px;
	border-radius: 50%;
	display:flex;
	justify-content:center;
	display:flex;
	
	
  }
  
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: Red;
  }




	
/*///////////////////////////HEADER//////////////////////*/
header{
	grid-area: H;
	background-color:  #32a852	;
	padding: 10px;
	font-family:'Roboto', sans-serif;
	
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(3, 3, 3, 0.19);
}

header h1{
	margin-left: 2%;
	font-size: 1em;
}

header h3{
	font-size: 0.9em;
	margin-left: 2%;
}



/*///////////////////////////PERSONAL INFO//////////////////////*/


.intro{
	grid-area: intro;
	display: flex;
	
	

	background-color: yellow;
	background: url("../photos/dept12.png");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0 5;
	-webkit-filter: (100%); /* Safari 6.0 - 9.0 */
    filter: (100%);
}





.personalInfo img{
	
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
	height: 80%;
	background-color:rgba(255, 255, 255, 1);
	filter: grayscale(0%);
	
    
	
}

.personalInfo{
	align-self: flex-end;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color:rgba(255, 255, 255, 0.8);
	
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	
	
} 

.personalInfo div{
	height: auto;
	width: 100%;
	text-align: center;
	
	margin-bottom: 5%;
}

.personalInfo div h1{
	margin-top: 10%;
	padding: 10px;
	line-height: 0.5;
	padding-left: 0;
	
	
}

.personalInfo div h3{
	
	
	
	margin-left:-15%;
	padding-bottom: 10px;
	
	
}

.line{
	width: 250px;
	border-bottom: 3px solid rgb(36, 94, 18);
	margin: -2% 3% 5% 20%;
}

.personalInfo div a{
	
	font-size: 1em;
	display: block;
	margin-bottom: 2%;
	
}




/*///////////////////////////DETAIL//////////////////////*/
.options{
	
	
	
	grid-area: op;
	text-align: center;
	
	background-color:#32a852;


	
}

.options ul{
	 display: flex; 
	
	justify-content: center;
	flex-direction: column;
	background-color:#50a266;

	
}
.options ul li{
	border-bottom: 1px groove  rgba(240, 31, 23, 0.19);
}


.options h3{
	
	color: white;
	padding: 18px 40px;
	
	
}



.options h3:hover{
	
	background-color: rgb(36, 94, 18);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.sect{
	grid-area: de;
	background-color: rgba(0,0,0,0.19);
	
	height: auto;
	
	
}


section{
	text-align: justify;
    margin: auto;
    padding: 30px;
    background-color: rgba(220, 220, 220, 0.658);
	box-shadow: 0 0 2px 1px rgb(0,0,0,0.15), 0 0 2px 1px rgb(0,0,0,0.15);
		
}

section h3{
	
	text-align: center;
	font-size: 2em;
}









.info
{
	display: none;
	
}



.info.show{
	display:block;
	
}




footer{
	grid-area: F;
	background-color: rgba(0, 0, 0);
	color: white;
	font-size: 1em;
	letter-spacing: 0.2em;;
	
}

footer ul{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5%;
}

footer ul li{
	
	margin-left: 5%;
	margin-top: 0%;
	margin-bottom: 1%;
	font-size: 15px;
}
footer p{
	
	text-align: center;
}





















@media screen and (min-width: 400px)
{
	
	
	.btn{
		top: 10%;
	}

/*///////////////////////////HEADER//////////////////////*/

		header h1{
			
			
			font-size: 22px;
			background-color: #32a852;
		}
		
		header h3{
			font-size: 18px;
			
			background-color: #32a852;

		}
		

/*///////////////////////////PERSONAL INFO//////////////////////*/	





.personalInfo img{
	margin-left: 35%;

}

	.personalInfo div{
		border-top: 10%;
		
	}

	.personalInfo div h1{
		margin-left: 5%;
		font-size: 32px;
	}

	.personalInfo div h3{
		margin-left: -8%;
		font-size: 20px;
	}

	 .line{
		margin-left: 23%;
		width: 260px;
	}


		

}









@media screen and (min-width: 600px)
{
	.personalInfo div{
		border-top: 10%;
		}
	
	.personalInfo div h3{
		margin-left: -2%;
		margin-bottom: 5px;
	}

	.line{
		margin-left: 34%;
		width: 280px;
		margin-bottom: 20px;
	}

}






@media screen and (min-width: 800px)
{
	

	.personalInfo div h1{
		margin-left: 8%;
	}

	.personalInfo div h3{
		margin-left: 2%;
		margin-bottom: 8px;
	}

	
	
	.personalInfo div {
		margin-bottom: 5%;
		
	}

	
	.line{
		margin-left: 40%;
		width: 320px;
	}

	.btn{
			
		top: 9%;
	}
}






@media screen and (min-width: 1200px)
{
		.wrapper{
		
		
		
		grid-template-columns: 1fr 4fr; 
		grid-template-areas: 
							"H H"
							"intro intro"
							"op op"
							"addi de"
							"F F";
	}
	

	.btn{
	width: 50px;
	height: 50px;
	font-size: 22px;
	top: 10%;
	}

	

	/*///////////////////////////HEADER//////////////////////*/
	header{

	padding: 14px;


	}

	header h1{
	margin-left: 5%;
	font-size: 2em;
	}

	header h3{
	margin-left: 5%;
	}



	/*///////////////////////////PERSONAL INFO//////////////////////*/


	.intro{

	
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-bottom: 20%;
	background-repeat: no-repeat;
	}





	.personalInfo img{
	margin: 5%;
	margin-top:15%;
	width: 32%;
	height: 50%;
	

	}

	.personalInfo{
	height: 100%;
	width: 50%;
	margin-bottom: -10%;
	flex-direction: row;

	} 

	.personalInfo div{
	height: auto;
	width: 60%;
	margin: 3%;
	text-align: left;
	
	}

	.personalInfo div h1{
	margin-top:30%;
	padding: 14px;
	line-height: 0.5;
	margin-left: 3%;
		
	}

	.personalInfo div h3{
		padding-bottom: 10px;
		
		margin-left: 13%;
	}

	.line{
		margin-left: 12%;
		width: 280px;
	}

	.personalInfo div a{
		margin-left: 15%;
		font-size: 1em;
	}
    
	.options ul{
	display: flex; 
	margin-top: 10%;
	justify-content: center;
	flex-direction: row;
	

	}

	.options h3{

	
	padding: 18px 40px;


	}

	.sect{

	

	height: auto;


	}




	section{
	text-align: justify;
	margin: auto;
	padding: 36px;
		
	}

	section h3{
	
	text-align: center;
	font-size: 2em;
	
	}

	.additional{
		grid-area: addi;
		width: 100%;
		height: 100%;
		
		
		background-color: rgba(20, 20, 20, 0.2);
	}
	


	

	footer{
	

	font-size: 1em;
	letter-spacing: 0.2em;;

	}

	footer ul li{
		align-self: flex-end;
		margin-left: 2%;
		margin-bottom: 1%;
	}

	footer p{
	text-align: center;
	}


}